.header, .footer {
   height: 30px;
   min-height: 30px;
   max-height: 30px;
  margin-top: 10px;
  border: 1px black solid;
  }
  .one{
    height:400px;
    min-height:400px;
    max-height: 400px;
    margin-top:10px;
    border: 1px black solid;
  }
  .two{
    height:400px;
    min-height:400px;
    max-height: 400px;
    margin-top:10px;
    border: 1px black solid;

  }
  .three{
    height:400px;
    min-height:400px;
    max-height: 400px;
    margin-top:10px;
    border: 1px black solid;
  }
